<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    {% block head %} {% endblock %}
</head>
<body>
    <form method="POST">
        <div class="sidebar">
            <button class="side-card-button">
                <p>STOP</p>
            </button>
            <button class="side-card-button">
                <p>*</p>
            </button>
            <button onmousedown="startStrob()" onmouseup="stopStrob()" class="side-card-button">
                <p>Strob</p>
            </button>
        </div>
        <main class="base-main">
            {% block content %} {% endblock %}
        </main>
    </form>
</body>
<script>
    function startStrob() {
      fetch('/start_strob', { method: 'POST' });
    }
    function stopStrob() {
      fetch('/stop_strob', { method: 'POST' });
    }
  </script>
</html>