{% extends 'base.html' %}

{% block content %}
    <form class="container" method="POST">
        <a class="settings card-button" href="">
            <p>Auto</p>
        </a>
        
        {% for category in categories %}
            <label 
                class="card-button" style="background-color: {{ category.color }};"
                {% if loop.index0 == selected_category_id %} selected {% endif %} >
                <input 
                    type="radio" value="{{ loop.index0 }}" name="category_id" onchange="this.form.submit()"
                />
                <p>{{ category.name}}</p>
            </label>
        {% endfor %}
    </form>
{% endblock %}