{% extends 'base.html' %}

{% block content %}
    <form class="container" method="POST">
        <a class="card-button" href="/">
            <p>Retour</p>
        </a>
        
        {% for program in programs %}
            <label 
                class="card-button" style="background: linear-gradient(135deg, {{ program.colors[0] }} 50%, {{ program.colors[1] }} 50%);"
                {% if loop.index0 == selected_program_id %} selected {% endif %} >
                <input 
                    type="radio" value="{{ loop.index0 }}" name="program_id" onchange="this.form.submit()"
                />
                <p>{{ program.name}}</p>
            </label>
        {% endfor %}

        <button onmousedown="buttonPressed()" onmouseup="buttonReleased()" class="card-button">
            <p>Strob</p>
        </button>
    </form>
    <script>
        function buttonPressed() {
          fetch('/strob_on', { method: 'POST' });
        }
        function buttonReleased() {
          fetch('/strob_off', { method: 'POST' });
        }
      </script>
{% endblock %}